{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "tailwindStylesheet": "./src/styles/global.css"
}
