---
import type { CollectionEntry } from 'astro:content'

import { render } from 'astro:content'

import BackLink from '@/components/ui/BackLink.astro'
import Tag from '@/components/ui/Tag.astro'
import PostLayout from '@/layouts/PostLayout.astro'
import { getFilteredNotes } from '@/utils/notes'

type Props = CollectionEntry<'notes'>

export async function getStaticPaths() {
  const notes = await getFilteredNotes()
  return notes.map((note) => ({
    params: { slug: note.id },
    props: note
  }))
}

const note = Astro.props
const { Content } = await render(note)
---

<PostLayout pubDate={note.data.pubDate} title={note.data.title}>
  <BackLink href="/notes" label="Notes" slot="back-link" />

  <div class="mb-4">
    <Tag
      href={`/notes?category=${encodeURIComponent(note.data.category)}`}
      label={note.data.category}
    />
  </div>

  <Content />
</PostLayout>
