/* Tag component styles - shared between Astro and React */

.tag {
  @apply relative z-10 inline-block p-1;
  @apply text-xs font-medium text-neutral-500;
  @apply transition-colors;
  @apply before:mr-0.5 before:text-neutral-400 before:content-['#'];
  @apply dark:text-neutral-400 dark:before:text-neutral-600;
}

.tag-interactive {
  @apply cursor-pointer;
  @apply hover:text-neutral-900;
  @apply dark:hover:text-neutral-200;
}
