---
import type { PostListProps } from '@/types'

const { posts } = Astro.props as PostListProps
---

<ul class="ml-4 list-disc space-y-4 marker:text-neutral-400">
  {
    posts.map((post) => (
      <li>
        <a
          class="font-medium text-neutral-900 underline decoration-neutral-300 underline-offset-4 transition-colors hover:decoration-neutral-500 lg:text-lg dark:text-neutral-100 dark:decoration-neutral-700 dark:hover:decoration-neutral-400"
          href={`/blog/${post.id}/`}
        >
          {post.data.title}
          <time class="sr-only" datetime={post.data.pubDate.toISOString()}>
            {post.data.pubDate.toLocaleDateString(undefined, {
              year: 'numeric',
              month: 'long',
              day: 'numeric'
            })}
          </time>
        </a>
      </li>
    ))
  }
</ul>
