---
import type { PostListProps } from '@/types'

const { posts } = Astro.props as PostListProps
---

<ul class="index-list index-list-focus">
  {
    posts.map((post) => (
      <li class="index-item">
        <a class="index-link" href={`/blog/${post.id}/`}>
          <span class="index-title">{post.data.title}</span>

          <span class="index-leader" />

          <span class="index-meta">
            {post.data.pubDate.toLocaleDateString(undefined, {
              month: 'short',
              day: 'numeric'
            })}
          </span>
        </a>
      </li>
    ))
  }
</ul>
