---
import About from '@/components/widgets/About.astro'
import PostList from '@/components/widgets/PostList.astro'
import { themeConfig } from '@/config'
import IndexLayout from '@/layouts/IndexLayout.astro'
import { getSortedFilteredPosts } from '@/utils/draft'

const allPosts = await getSortedFilteredPosts()
const posts = allPosts.slice(0, 8)
---

<IndexLayout description={themeConfig.site.description} title={themeConfig.site.title}>
  <About />
  <main class="mt-12">
    <h2 class="mb-6 text-xl font-bold">Recent Posts</h2>
    <PostList posts={posts} />
  </main>
</IndexLayout>
